In [23]:
import pandas as pd
import numpy as np
from scipy.stats import shapiro
from scipy.stats import f_oneway
from scipy.stats import kruskal
import scipy.stats as stats

In [24]:
A = pd.DataFrame(np.random.randint(25,35,25))
B = pd.DataFrame(np.random.randint(27,40,25))
C = pd.DataFrame(np.random.randint(33,42,25))

dfs = [A,B,C]
ABC = pd.concat(dfs, axis = 1)
ABC.columns = ["GrupA","GrupB","GrupC"]
ABC.head()

   GrupA  GrupB  GrupC
0     30     36     37
1     30     32     37
2     26     31     39
3     33     35     41
4     32     38     36

In [25]:
#Varyans Kontrolü

In [26]:
#normallik testi

In [27]:
shapiro(ABC.GrupA)

ShapiroResult(statistic=0.9272143244743347, pvalue=0.0749601349234581)

In [28]:
shapiro(ABC.GrupB)

ShapiroResult(statistic=0.9357632994651794, pvalue=0.11812790483236313)

In [29]:
shapiro(ABC.GrupC)

ShapiroResult(statistic=0.9140291810035706, pvalue=0.03752511739730835)

In [30]:
#grup a 0.05ten küçüktür

In [31]:
#varyans homojenlik

In [32]:
stats.levene(ABC.GrupA,ABC.GrupB,ABC.GrupC)

LeveneResult(statistic=3.3548895899053615, pvalue=0.04045171027481726)

In [33]:
#varyanslar homojendir reddedilemedi varsayım sağlandı

In [34]:
#Hipotez Testi

In [35]:
f_oneway(ABC.GrupA,ABC.GrupB,ABC.GrupC)

F_onewayResult(statistic=51.14460285132382, pvalue=1.507412829800313e-14)

In [36]:
#h0da bu haber kaynakları arasında anlamlı bir farklılık yoktur
#0.05ten küçük çıktığından dolayı reddedilir ve anlamlı bir farklılık vardır denir.

In [37]:
ABC.describe().T

       count   mean       std   min   25%   50%   75%   max
GrupA   25.0  28.52  2.785678  25.0  26.0  29.0  30.0  34.0
GrupB   25.0  33.24  3.886730  27.0  30.0  34.0  36.0  39.0
GrupC   25.0  37.48  2.567749  33.0  36.0  38.0  40.0  41.0

In [38]:
#ÜÇÜNCÜ HABER TÜRÜ DAHA TIKLAMA KAZANIR

In [39]:
#Nonparametrik Hipotez Testi

In [40]:
kruskal(ABC.GrupA,ABC.GrupB,ABC.GrupC)

KruskalResult(statistic=43.28212833445257, pvalue=3.9939741497995157e-10)

In [41]:
#h0 reddedilir (0.05ten küçük olduğundan) en az biri diğerinden farklıdır