In [1]:
import pandas as pd

In [2]:
#Metin Ön İşleme

In [3]:
metin ="""
A Scandal in Bohemia! 01
The Red-headed League,2
A Case, of Identity 33
The Boscombe Valley Mystery4
The Five Orange Pips1
The Man with? the Twisted Lip
The Adventure of the Blue Carbuncle
The Adventure of the Speckled Band
The Adventure of the Engineer's Thumb
The Adventure of the Noble Bachelor
The Adventure of the Beryl Coronet
The Adventure of the Copper Beeches"""

metin

"\nA Scandal in Bohemia! 01\nThe Red-headed League,2\nA Case, of Identity 33\nThe Boscombe Valley Mystery4\nThe Five Orange Pips1\nThe Man with? the Twisted Lip\nThe Adventure of the Blue Carbuncle\nThe Adventure of the Speckled Band\nThe Adventure of the Engineer's Thumb\nThe Adventure of the Noble Bachelor\nThe Adventure of the Beryl Coronet\nThe Adventure of the Copper Beeches"

In [4]:
metin.split()

['A',
 'Scandal',
 'in',
 'Bohemia!',
 '01',
 'The',
 'Red-headed',
 'League,2',
 'A',
 'Case,',
 'of',
 'Identity',
 '33',
 'The',
 'Boscombe',
 'Valley',
 'Mystery4',
 'The',
 'Five',
 'Orange',
 'Pips1',
 'The',
 'Man',
 'with?',
 'the',
 'Twisted',
 'Lip',
 'The',
 'Adventure',
 'of',
 'the',
 'Blue',
 'Carbuncle',
 'The',
 'Adventure',
 'of',
 'the',
 'Speckled',
 'Band',
 'The',
 'Adventure',
 'of',
 'the',
 "Engineer's",
 'Thumb',
 'The',
 'Adventure',
 'of',
 'the',
 'Noble',
 'Bachelor',
 'The',
 'Adventure',
 'of',
 'the',
 'Beryl',
 'Coronet',
 'The',
 'Adventure',
 'of',
 'the',
 'Copper',
 'Beeches']

In [5]:
metin.split("\n")

['',
 'A Scandal in Bohemia! 01',
 'The Red-headed League,2',
 'A Case, of Identity 33',
 'The Boscombe Valley Mystery4',
 'The Five Orange Pips1',
 'The Man with? the Twisted Lip',
 'The Adventure of the Blue Carbuncle',
 'The Adventure of the Speckled Band',
 "The Adventure of the Engineer's Thumb",
 'The Adventure of the Noble Bachelor',
 'The Adventure of the Beryl Coronet',
 'The Adventure of the Copper Beeches']

In [6]:
v_metin = metin.split("\n")

In [7]:
v = pd.Series(v_metin)

In [8]:
v

0
1                  A Scandal in Bohemia! 01
2                   The Red-headed League,2
3                    A Case, of Identity 33
4              The Boscombe Valley Mystery4
5                     The Five Orange Pips1
6             The Man with? the Twisted Lip
7       The Adventure of the Blue Carbuncle
8        The Adventure of the Speckled Band
9     The Adventure of the Engineer's Thumb
10      The Adventure of the Noble Bachelor
11       The Adventure of the Beryl Coronet
12      The Adventure of the Copper Beeches
dtype: object

In [9]:
metin_vektor = v[1:len(v)]

In [10]:
metin_vektor

1                  A Scandal in Bohemia! 01
2                   The Red-headed League,2
3                    A Case, of Identity 33
4              The Boscombe Valley Mystery4
5                     The Five Orange Pips1
6             The Man with? the Twisted Lip
7       The Adventure of the Blue Carbuncle
8        The Adventure of the Speckled Band
9     The Adventure of the Engineer's Thumb
10      The Adventure of the Noble Bachelor
11       The Adventure of the Beryl Coronet
12      The Adventure of the Copper Beeches
dtype: object

In [11]:
mdf = pd.DataFrame(metin_vektor,columns = ["Romanlar"])

In [12]:
mdf

                                 Romanlar
1                A Scandal in Bohemia! 01
2                 The Red-headed League,2
3                  A Case, of Identity 33
4            The Boscombe Valley Mystery4
5                   The Five Orange Pips1
6           The Man with? the Twisted Lip
7     The Adventure of the Blue Carbuncle
8      The Adventure of the Speckled Band
9   The Adventure of the Engineer's Thumb
10    The Adventure of the Noble Bachelor
11     The Adventure of the Beryl Coronet
12    The Adventure of the Copper Beeches

In [13]:
#Büyük Küçük Harf Dönüşümü

In [14]:
d_mdf = mdf.copy()

In [15]:
d_mdf

                                 Romanlar
1                A Scandal in Bohemia! 01
2                 The Red-headed League,2
3                  A Case, of Identity 33
4            The Boscombe Valley Mystery4
5                   The Five Orange Pips1
6           The Man with? the Twisted Lip
7     The Adventure of the Blue Carbuncle
8      The Adventure of the Speckled Band
9   The Adventure of the Engineer's Thumb
10    The Adventure of the Noble Bachelor
11     The Adventure of the Beryl Coronet
12    The Adventure of the Copper Beeches

In [16]:
list1 = [1,2,3]
str1 = " ".join(str(i) for i in list1)
str1

'1 2 3'

In [17]:
d_mdf = d_mdf["Romanlar"].apply(lambda x:" ".join(x.lower() for x in x.split()))#içinde gez

In [18]:
d_mdf

1                  a scandal in bohemia! 01
2                   the red-headed league,2
3                    a case, of identity 33
4              the boscombe valley mystery4
5                     the five orange pips1
6             the man with? the twisted lip
7       the adventure of the blue carbuncle
8        the adventure of the speckled band
9     the adventure of the engineer's thumb
10      the adventure of the noble bachelor
11       the adventure of the beryl coronet
12      the adventure of the copper beeches
Name: Romanlar, dtype: object

In [19]:
#Noktalama İşaretlerinin Silinmesi

In [20]:
d_mdf = pd.DataFrame(d_mdf,columns = ["Romanlar"])

In [21]:
d_mdf = d_mdf["Romanlar"].str.replace("[^\w\s]","")

In [22]:
d_mdf

1                  a scandal in bohemia 01
2                    the redheaded league2
3                    a case of identity 33
4             the boscombe valley mystery4
5                    the five orange pips1
6             the man with the twisted lip
7      the adventure of the blue carbuncle
8       the adventure of the speckled band
9     the adventure of the engineers thumb
10     the adventure of the noble bachelor
11      the adventure of the beryl coronet
12     the adventure of the copper beeches
Name: Romanlar, dtype: object

In [23]:
#Sayıların Silinmesi

In [24]:
#d_mdf = pd.DataFrame(d_mdf,columns = ["Romanlar"])

In [25]:
d_mdf = d_mdf.str.replace("\d","")
d_mdf

1                    a scandal in bohemia
2                     the redheaded league
3                      a case of identity
4              the boscombe valley mystery
5                     the five orange pips
6             the man with the twisted lip
7      the adventure of the blue carbuncle
8       the adventure of the speckled band
9     the adventure of the engineers thumb
10     the adventure of the noble bachelor
11      the adventure of the beryl coronet
12     the adventure of the copper beeches
Name: Romanlar, dtype: object

In [26]:
#Stopwordslerin Silinmesi
#stopword: tekrar eden, durma kelimeler, sık kullanılan kelimeler

In [27]:
import nltk

In [28]:
nltk.download("stopwords")

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Tolga\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [29]:
from nltk.corpus import stopwords
sw = stopwords.words("english")

In [30]:
sw

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [31]:
d_mdf = pd.DataFrame(d_mdf,columns = ["Romanlar"])

In [32]:
d_mdf = d_mdf["Romanlar"].apply(lambda x:" ".join(x for x in x.split() if x not in sw))

In [33]:
d_mdf

1               scandal bohemia
2              redheaded league
3                 case identity
4       boscombe valley mystery
5              five orange pips
6               man twisted lip
7      adventure blue carbuncle
8       adventure speckled band
9     adventure engineers thumb
10     adventure noble bachelor
11      adventure beryl coronet
12     adventure copper beeches
Name: Romanlar, dtype: object

In [34]:
#Az Geçen Kelimelerin Silinmesi

In [35]:
type(d_mdf)

pandas.core.series.Series

In [36]:
d_mdf = pd.DataFrame(d_mdf,columns = ["Romanlar"])

In [37]:
d_mdf

                     Romanlar
1             scandal bohemia
2            redheaded league
3               case identity
4     boscombe valley mystery
5            five orange pips
6             man twisted lip
7    adventure blue carbuncle
8     adventure speckled band
9   adventure engineers thumb
10   adventure noble bachelor
11    adventure beryl coronet
12   adventure copper beeches

In [38]:
pd.Series(" ".join(d_mdf["Romanlar"]).split()).value_counts()

adventure    6
orange       1
twisted      1
carbuncle    1
engineers    1
valley       1
mystery      1
noble        1
redheaded    1
beryl        1
five         1
coronet      1
bachelor     1
copper       1
man          1
pips         1
boscombe     1
lip          1
blue         1
speckled     1
beeches      1
case         1
scandal      1
league       1
bohemia      1
thumb        1
band         1
identity     1
dtype: int64

In [39]:
sil = pd.Series(" ".join(d_mdf["Romanlar"]).split()).value_counts()[-3:]

In [40]:
sil

thumb       1
band        1
identity    1
dtype: int64

In [53]:
d_mdf = d_mdf["Romanlar"].apply(lambda x:" ".join(x for x in x.split() if x not in sil))

In [54]:
d_mdf

1              scandal bohemia
2             redheaded league
3                         case
4      boscombe valley mystery
5             five orange pips
6              man twisted lip
7     adventure blue carbuncle
8           adventure speckled
9          adventure engineers
10    adventure noble bachelor
11     adventure beryl coronet
12    adventure copper beeches
Name: Romanlar, dtype: object

# Tokenization: cümleyi kelimelere ayırmak

In [44]:
nltk.download("punkt")

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Tolga\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [45]:
import textblob

In [46]:
from textblob import TextBlob

In [58]:
d_mdf = pd.DataFrame(d_mdf,columns = ["Romanlar"])

In [59]:
TextBlob(d_mdf["Romanlar"][1]).words

WordList(['scandal', 'bohemia'])

In [60]:
d_mdf["Romanlar"].apply(lambda x: TextBlob(x).words)

1               [scandal, bohemia]
2              [redheaded, league]
3                           [case]
4      [boscombe, valley, mystery]
5             [five, orange, pips]
6              [man, twisted, lip]
7     [adventure, blue, carbuncle]
8            [adventure, speckled]
9           [adventure, engineers]
10    [adventure, noble, bachelor]
11     [adventure, beryl, coronet]
12    [adventure, copper, beeches]
Name: Romanlar, dtype: object

In [61]:
#Stemming:bir kelimenin köküne indirgemesini sağlıyor göz gözlük gözlükçü gözlükler gibi

In [64]:
from nltk.stem import PorterStemmer
st = PorterStemmer()#takkıları gönderme

In [69]:
d_mdf["Romanlar"].apply(lambda x:" ".join([st.stem(i) for i in x.split()]))

1            scandal bohemia
2              redhead leagu
3                       case
4     boscomb valley mysteri
5             five orang pip
6              man twist lip
7     adventur blue carbuncl
8            adventur speckl
9             adventur engin
10    adventur nobl bachelor
11    adventur beryl coronet
12     adventur copper beech
Name: Romanlar, dtype: object

In [67]:
#Lemmatization:stimming işlemine göre daha fazla kullanılır

In [68]:
from textblob import Word
nltk.download("wordnet")

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Tolga\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\wordnet.zip.

True

In [71]:
d_mdf["Romanlar"].apply(lambda x:" ".join(Word(word).lemmatize() for word in x.split()))

1              scandal bohemia
2             redheaded league
3                         case
4      boscombe valley mystery
5              five orange pip
6              man twisted lip
7     adventure blue carbuncle
8           adventure speckled
9           adventure engineer
10    adventure noble bachelor
11     adventure beryl coronet
12      adventure copper beech
Name: Romanlar, dtype: object

In [72]:
mdf["Romanlar"][0:5]

1        A Scandal in Bohemia! 01
2         The Red-headed League,2
3          A Case, of Identity 33
4    The Boscombe Valley Mystery4
5           The Five Orange Pips1
Name: Romanlar, dtype: object

In [73]:
d_mdf["Romanlar"][0:5]

1            scandal bohemia
2           redheaded league
3                       case
4    boscombe valley mystery
5           five orange pips
Name: Romanlar, dtype: object