# N-Gram

In [52]:
metin ="""
A Scandal in Bohemia! 01
The Red-headed League,2
A Case, of Identity 33
The Boscombe Valley Mystery4
The Five Orange Pips1
The Man with? the Twisted Lip
The Adventure of the Blue Carbuncle
The Adventure of the Speckled Band
The Adventure of the Engineer's Thumb
The Adventure of the Noble Bachelor
The Adventure of the Beryl Coronet
The Adventure of the Copper Beeches"""

In [54]:
v_metin = metin.split("\n")
v = pd.Series(v_metin)
metin_vektor = v[1:len(v)]
mdf = pd.DataFrame(metin_vektor,columns = ["Romanlar"])

In [2]:
a = """Bu örneğin anlaşılabilmesi için daha uzun bir metin üzerinden göstereceğim. 
N-gram'lar birlikte kullanılan kelimelerin kombinasyonlarını gösterir"""

In [16]:
from textblob import TextBlob
import nltk
import pandas as pd

In [4]:
TextBlob(a).ngrams(1)

[WordList(['Bu']),
 WordList(['örneğin']),
 WordList(['anlaşılabilmesi']),
 WordList(['için']),
 WordList(['daha']),
 WordList(['uzun']),
 WordList(['bir']),
 WordList(['metin']),
 WordList(['üzerinden']),
 WordList(['göstereceğim']),
 WordList(["N-gram'lar"]),
 WordList(['birlikte']),
 WordList(['kullanılan']),
 WordList(['kelimelerin']),
 WordList(['kombinasyonlarını']),
 WordList(['gösterir'])]

In [5]:
TextBlob(a).ngrams(2)

[WordList(['Bu', 'örneğin']),
 WordList(['örneğin', 'anlaşılabilmesi']),
 WordList(['anlaşılabilmesi', 'için']),
 WordList(['için', 'daha']),
 WordList(['daha', 'uzun']),
 WordList(['uzun', 'bir']),
 WordList(['bir', 'metin']),
 WordList(['metin', 'üzerinden']),
 WordList(['üzerinden', 'göstereceğim']),
 WordList(['göstereceğim', "N-gram'lar"]),
 WordList(["N-gram'lar", 'birlikte']),
 WordList(['birlikte', 'kullanılan']),
 WordList(['kullanılan', 'kelimelerin']),
 WordList(['kelimelerin', 'kombinasyonlarını']),
 WordList(['kombinasyonlarını', 'gösterir'])]

In [6]:
#değişken mühendisliğinde işimize yarar

# Part of speech tagging(POS)

In [8]:
#metinde bulunan kelimelerin sıfat zarf oluğ olmadığını belirlemek için

In [12]:
nltk.download("averaged_perceptron_tagger")

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\Tolga\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping taggers\averaged_perceptron_tagger.zip.

True

In [65]:
d_mdf = ["scandal bohemia",
"redheaded league",
"case",
"boscombe valley mystery",
"five orange pip",
"man twisted lip",
"adventure blue carbuncle",
"adventure speckled",
"adventure engineer",
"adventure noble bachelor",
"adventure beryl coronet",
"adventure copper beech"]

In [67]:
d_mdf = pd.DataFrame(d_mdf,columns = ["Romanlar"])

In [24]:
TextBlob(d_mdf["Romanlar"][1]).tags

[('redheaded', 'VBN'), ('league', 'NN')]

In [26]:
d_mdf["Romanlar"].apply(lambda x: TextBlob(x).tags)

0                     [(scandal, NN), (bohemia, NN)]
1                   [(redheaded, VBN), (league, NN)]
2                                       [(case, NN)]
3      [(boscombe, NN), (valley, NN), (mystery, NN)]
4              [(five, CD), (orange, NN), (pip, NN)]
5             [(man, NN), (twisted, VBD), (lip, NN)]
6     [(adventure, NN), (blue, JJ), (carbuncle, NN)]
7                 [(adventure, NN), (speckled, VBD)]
8                  [(adventure, NN), (engineer, NN)]
9     [(adventure, NN), (noble, JJ), (bachelor, NN)]
10     [(adventure, NN), (beryl, NN), (coronet, NN)]
11      [(adventure, NN), (copper, NN), (beech, NN)]
Name: Romanlar, dtype: object

In [28]:
#Chunking(shallow parsing):zarf durumlarını diyagram ile göstermek

In [29]:
pos = d_mdf["Romanlar"].apply(lambda x: TextBlob(x).tags)

In [30]:
pos

0                     [(scandal, NN), (bohemia, NN)]
1                   [(redheaded, VBN), (league, NN)]
2                                       [(case, NN)]
3      [(boscombe, NN), (valley, NN), (mystery, NN)]
4              [(five, CD), (orange, NN), (pip, NN)]
5             [(man, NN), (twisted, VBD), (lip, NN)]
6     [(adventure, NN), (blue, JJ), (carbuncle, NN)]
7                 [(adventure, NN), (speckled, VBD)]
8                  [(adventure, NN), (engineer, NN)]
9     [(adventure, NN), (noble, JJ), (bachelor, NN)]
10     [(adventure, NN), (beryl, NN), (coronet, NN)]
11      [(adventure, NN), (copper, NN), (beech, NN)]
Name: Romanlar, dtype: object

In [31]:
cumle = "R and Python are useful data science tools for the new or old data scientist who eager to do efficent data science task"

In [34]:
pos = TextBlob(cumle).tags

In [35]:
pos

[('R', 'NNP'),
 ('and', 'CC'),
 ('Python', 'NNP'),
 ('are', 'VBP'),
 ('useful', 'JJ'),
 ('data', 'NNS'),
 ('science', 'NN'),
 ('tools', 'NNS'),
 ('for', 'IN'),
 ('the', 'DT'),
 ('new', 'JJ'),
 ('or', 'CC'),
 ('old', 'JJ'),
 ('data', 'NNS'),
 ('scientist', 'NN'),
 ('who', 'WP'),
 ('eager', 'VBZ'),
 ('to', 'TO'),
 ('do', 'VB'),
 ('efficent', 'JJ'),
 ('data', 'NNS'),
 ('science', 'NN'),
 ('task', 'NN')]

In [37]:
reg_exp = "NP: {<DT>?<JJ>*<NN>}"
rp = nltk.RegexpParser(reg_exp)
sonuclar = rp.parse(pos)

In [39]:
print(sonuclar)

(S
  R/NNP
  and/CC
  Python/NNP
  are/VBP
  useful/JJ
  data/NNS
  (NP science/NN)
  tools/NNS
  for/IN
  the/DT
  new/JJ
  or/CC
  old/JJ
  data/NNS
  (NP scientist/NN)
  who/WP
  eager/VBZ
  to/TO
  do/VB
  efficent/JJ
  data/NNS
  (NP science/NN)
  (NP task/NN))

In [40]:
sonuclar.draw()

# Named Entity Recognition : belirlenen nesnenin ney olduğunu tanımlanan

In [42]:
from nltk import word_tokenize, pos_tag, ne_chunk
nltk.download('maxent_ne_chunker')
nltk.download('words')

[nltk_data] Downloading package maxent_ne_chunker to
[nltk_data]     C:\Users\Tolga\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping chunkers\maxent_ne_chunker.zip.
[nltk_data] Downloading package words to
[nltk_data]     C:\Users\Tolga\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\words.zip.

True

In [44]:
cumle = "Hadley is creative peopla who work for R Studio AND he attented conference at Newyork last year"
print(ne_chunk(pos_tag(word_tokenize(cumle))))

(S
  (GPE Hadley/NNP)
  is/VBZ
  creative/JJ
  peopla/NN
  who/WP
  work/VBP
  for/IN
  (ORGANIZATION R/NNP Studio/NNP)
  AND/CC
  he/PRP
  attented/VBD
  conference/NN
  at/IN
  (ORGANIZATION Newyork/NNP)
  last/JJ
  year/NN)

# Matemattiksel İşlemler ve Basit Özellik Çıkarımı

In [49]:
#Harf/Karakter Sayısı

In [70]:
o_df = d_mdf.copy(())

In [71]:
o_df["Romanlar"]

0              scandal bohemia
1             redheaded league
2                         case
3      boscombe valley mystery
4              five orange pip
5              man twisted lip
6     adventure blue carbuncle
7           adventure speckled
8           adventure engineer
9     adventure noble bachelor
10     adventure beryl coronet
11      adventure copper beech
Name: Romanlar, dtype: object

In [72]:
o_df["Romanlar"].str.len()#boşluklarda sayılıyor

0     15
1     16
2      4
3     23
4     15
5     15
6     24
7     18
8     18
9     24
10    23
11    22
Name: Romanlar, dtype: int64

In [73]:
o_df["harf_sayisi"] = o_df["Romanlar"].str.len()

In [75]:
o_df

                    Romanlar  harf_sayisi
0            scandal bohemia           15
1           redheaded league           16
2                       case            4
3    boscombe valley mystery           23
4            five orange pip           15
5            man twisted lip           15
6   adventure blue carbuncle           24
7         adventure speckled           18
8         adventure engineer           18
9   adventure noble bachelor           24
10   adventure beryl coronet           23
11    adventure copper beech           22

In [47]:
#Kelime Sayısı

In [77]:
a = "scandal in a bohemia"

In [78]:
a.split()

['scandal', 'in', 'a', 'bohemia']

In [79]:
len(a.split())

4

In [84]:
o_df.iloc[0:1,0:1]

          Romanlar
0  scandal bohemia

In [89]:
o_df["kelime_sayisi"] = o_df["Romanlar"].apply(lambda x:len(str(x).split(" ")))

In [90]:
o_df

                    Romanlar  harf_sayisi  kelime_sayisi
0            scandal bohemia           15              2
1           redheaded league           16              2
2                       case            4              1
3    boscombe valley mystery           23              3
4            five orange pip           15              3
5            man twisted lip           15              3
6   adventure blue carbuncle           24              3
7         adventure speckled           18              2
8         adventure engineer           18              2
9   adventure noble bachelor           24              3
10   adventure beryl coronet           23              3
11    adventure copper beech           22              3

In [48]:
#Özel Karakterleri Yakalamak ve Saydırmak

In [93]:
o_df["Romanlar"].apply(lambda x:len([x for x in x.split() 
                                     if x.startswith("adventure")]))

0     0
1     0
2     0
3     0
4     0
5     0
6     1
7     1
8     1
9     1
10    1
11    1
Name: Romanlar, dtype: int64

In [94]:
o_df["ozel_karakter"] = o_df["Romanlar"].apply(lambda x:len([x for x in x.split() 
                                     if x.startswith("adventure")]))

In [95]:
o_df

                    Romanlar  harf_sayisi  kelime_sayisi  ozel_karakter
0            scandal bohemia           15              2              0
1           redheaded league           16              2              0
2                       case            4              1              0
3    boscombe valley mystery           23              3              0
4            five orange pip           15              3              0
5            man twisted lip           15              3              0
6   adventure blue carbuncle           24              3              1
7         adventure speckled           18              2              1
8         adventure engineer           18              2              1
9   adventure noble bachelor           24              3              1
10   adventure beryl coronet           23              3              1
11    adventure copper beech           22              3              1

In [76]:
#Sayıları Yakalamak ve Sayılar

In [96]:
mdf["Romanlar"].apply(lambda x:len([x for x in x.split() 
                                     if x.isdigit()]))#düzenlenmiş versiyon

1     1
2     0
3     1
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
Name: Romanlar, dtype: int64

In [97]:
o_df["sayi_sayisi"] = mdf["Romanlar"].apply(lambda x:len([x for x in x.split() 
                                     if x.isdigit()]))

In [98]:
o_df

,Romanlar,harf_sayisi,kelime_sayisi,ozel_karakter,sayi_sayisi
0,scandal bohemia,15,2,0,NaN
1,redheaded league,16,2,0,1.0
2,case,4,1,0,0.0
3,boscombe valley mystery,23,3,0,1.0
4,five orange pip,15,3,0,0.0
5,man twisted lip,15,3,0,0.0
6,adventure blue carbuncle,24,3,1,0.0
7,adventure speckled,18,2,1,0.0
8,adventure engineer,18,2,1,0.0
9,adventure noble bachelor,24,3,1,0.0
10,adventure beryl coronet,23,3,1,0.0
11,adventure copper beech,22,3,1,0.0